ul.status_legenda{
	width: 880px;
	border: 1px solid #999;
	margin: 0 auto;
	margin-top: 10px;
	display: table;
	background: #FFF;
}

ul.status_legenda li{
	display: inline-table;
	margin: 10px;
	font: 14px Verdana, Geneva, sans-serif;
}

/*----- Status do Pedido ------*/
span.orcamento{
	display: block;
	padding-left: 25px;
	background: url(../image/layout/bg_status_orcamento.gif) no-repeat;
	color: #999;
}

span.andamento{
	display: block;
	padding-left: 25px;
	background: url(../image/layout/bg_status_andamento.gif) no-repeat;   
	color: #CD9623;
}

span.finalizado{
	display: block;
	padding-left: 25px;
	background: url(../image/layout/bg_status_finalizado.gif) no-repeat;   
	color: #666;
}

span.entregue{
	display: block;
	padding-left: 25px;
	background: url(../image/layout/bg_status_entregue.gif) no-repeat;   
	color: #43B652;
}

span.recusado{
	display: block;
	padding-left: 25px;
	background: url(../image/layout/bg_status_recusado.gif) no-repeat;   
	color: #EA6F6F;
}


span.convertida{
	display: block;
	padding-left: 25px;
	background:  url(../image/layout/bg_status_convertida.gif) no-repeat;   
	color: #609;
}


span.nfe{
	display: block;
	padding-left: 25px;
	background: url(../image/layout/bg_status_nfe.gif) no-repeat;   
	color: #09F;
}

/*---------------------------------------------------------------------------------------*/
/*----- Status da parcela ------*/
span.parcela_pago{
	display: block;
	padding-left: 30px;
	background: url(../image/layout/bg_status_parcela_pago.gif) no-repeat; 
	color: #3C3;
}

span.parcela_aberto{
	display: block;
	padding-left: 30px;
	background:  url(../image/layout/bg_status_parcela_aberto.gif) no-repeat;
	color: #09F;
}

span.parcela_parcial{
	display: block;
	padding-left: 30px;
	background: url(../image/layout/bg_status_parcela_parcial.gif) no-repeat;
	color: #CD9623;
}

span.parcela_vencido{
	display: block;
	padding-left: 30px;
	background: url(../image/layout/bg_status_parcela_vencido.gif) no-repeat;
	color: #EA6F6F;
}


/*---------------------------------------------------------------------------------------*/
/*----- Status da parcela ------*/
span.item_pago{
	display: block;
	color: #3C3;
	font-weight: bold;
}

span.item_aberto{
	display: block;
	color: #EA6F6F;
	font-weight: bold;
}

span.item_parcial{
	display: block;
	color: #CD9623;
	font-weight: bold;
}

/*---------------------------------------------------------------------------------------*/
/*----- Status do historico de servico ------*/
tr td.servico_historico_andamento, tr td.servico_historico_data_andamento{
	color: #090;
}

tr td.servico_historico_pausado, tr td.servico_historico_data_pausado{
	color: #900;
}

tr td.servico_historico_finalizado, tr td.servico_historico_data_finalizado{
	color: #009;
}

tr td.servico_historico_corrigido, tr td.servico_historico_data_corrigido{
	color: #666;
	text-decoration: line-through;
}

tr td.servico_historico_reaberto{
	color: #F60;
}

 tr td.servico_historico_data_reaberto{
	color: #F60;
	text-decoration: line-through;
}

