*{
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	border-collapse: collapse;
	text-decoration: none;
}

div#no-print{
	width: 800px;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
}

h1{
	width: 100%;
	height: 20px;
	font: 22px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0 auto;
	padding: 5px;
	padding-left: 30px;
}

p.pag{
	position: relative;
	margin: 0;
	margin-top: 15px;
	font: 12px Arial, Helvetica, sans-serif;
	float:right;
	margin-right: 10px;
	text-align: right;
	display:block;
}

a.print{
	width: 100px;
	height: 20px;
	padding-top: 5px;
	display: inline-block;
	color: #FFF;
	font: 12px Tahoma, Geneva, sans-serif;
	font-weight: bold;
	background: url(../image/layout/bg_btn_general.jpg) no-repeat;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
}


/**************************************************************/

table.relatorio_print{
	width: 730px;
	height: 1120px;
	margin: 0 auto;
	margin-top: 5px;
	margin-left: 50px;
	border:1px solid #999;
	page-break-before: always;
}
	table.relatorio_print tr{
		margin: 0;
		margin-bottom: 6px;
		display: table;
		padding: 0;
		float: left;
	}
	
		table.relatorio_print tr td{
			font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
			display: inline-table;
			float: left;
		}

/*-------------------------------------------------------------*/
	
	table.table_relatorio_dados{
		width: 550px;
		float: left;
		margin-bottom: 10px;
		display:table;
	}
		table.table_relatorio_dados tr{
			width:550px;
		}
			
			table.table_relatorio_dados tr td{
				width: 280px;
				font: 10px "Trebuchet MS", Arial, Helvetica, sans-serif;
				display: inline-table;
				margin-left: 6px;
				float: left;
			}

/*--------------------------------------------*/
	table.dados_impressao{
		width: 200px;
		display: table;
		float: right;
	}
		
		table.dados_impressao tr td{
			width: 190px;
			font: 10px "Trebuchet MS", Arial, Helvetica, sans-serif;
			display: table;
			margin-left: 5px;
			float: left;
		}
			
			table.dados_impressao tr td span{
				border-collapse: collapse;
				float: right;
			}

/*--------------------------------------------*/
	
	table.table_relatorio{
		width: 750px;
		/*float: left;*/
		border-top: 1px solid;
	}
		
		table.table_relatorio tr{
			float: left;
			height: 16px;
			border-bottom: 1px solid;
		}
			
			table.table_relatorio tr td{
				width: 362px;
				font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
				display: inline-table;
				float: left;
				text-align:left;
				margin-right: 5px;
				margin-left: 5px;
				border-bottom: 1px solid #999;
				margin-top: 10px;
			}
			
			 
			 