@charset "utf-8";
/* CSS Document */

*:focus{
	background-color:#DFD !important;
}

*{
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
color: #000;
}

body{
text-align: center;
background: #F4F4F4;
}

/*-----------------------------------------------------*/
div#header{
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 3000;
	top: 0;
	left: 0;
	border-bottom: 3px solid #3C569B;
	background: #6C85C6;
}

div#container{
	width: 988px;
	height: 100%;
	z-index: -1;
	min-height: 200px; /* 800 */
	border: 1px solid #CCC;
	margin: 0 auto;
	margin-top: 50px;
	padding-bottom: 10px;
	display:table;
}

/*--------------------------------------------------------*/
div#header_menu{
	width: 980px;
	margin: 0 auto;
}
div#header_menu img{
	float:left;
	display: block;
}

ul#menu_general{
	width: 150px;
	display: table;
	float: right;
}

ul#menu_general li{
	width: 140px;
	height: 18px;
	margin-bottom: 5px;
	background: #4E6298;
	display: inline-table;
}

ul#menu_general li a.link_home{
	color: #FFF;
	width: 140px;
	height: 18px;
	display: block;
	font: 12px 'Trebuchet MS', Georgia, Times, serif;
	background: url(../image/layout/bg_link_home.jpg) top no-repeat;
}
ul#menu_general li a.link_home:hover{
	background: url(../image/layout/bg_link_home.jpg) bottom no-repeat;
}

ul#menu_general li a.link_close{
	color: #FFF;
	width: 140px;
	height: 18px;
	display: block;
	font: 12px 'Trebuchet MS', Georgia, Times, serif;
	background: url(../image/layout/bg_link_close.jpg) top no-repeat;
}
ul#menu_general li a.link_close:hover{
	background: url(../image/layout/bg_link_close.jpg) bottom no-repeat;
}

/*#######################################################################*/
div#identificacao{
	width: 120px;
	margin-left: 10px;
	margin-top: 12px;
	display: inline-table;
	float: left;
	background: #000;
}
	
	div#identificacao p{
		font:18px "Trebuchet MS", Arial, Helvetica, sans-serif;
		color: #FFF;
		line-height: 30px;
		height: 30px;
		text-transform:uppercase;
		font-weight: bold;
	}

ul.menu_small{
	width: auto;
	text-align: center;
	margin-top: 10px;
	display: inline-table;
}

ul.menu_small li{
	width: 35px; 
	height: 35px;
	display: inline-table;
	float: left;
	margin-right: 5px;
	text-align: center;
}

ul.menu_small li a{
	width: 35px; 
	height: 35px;
	display: block;
}

ul.menu_small li a.produto{
	background: url(../image/layout/bg_produto_small.jpg) top center no-repeat;
}
ul.menu_small li a.produto:hover{
	background: url(../image/layout/bg_produto_small.jpg) bottom center no-repeat;
}
ul.menu_small li a.produto_disable{
	background: url(../image/layout/bg_produto_small_disable.jpg) no-repeat;
}


ul.menu_small li a.estoque{
	background: url(../image/layout/bg_estoque_small.jpg) top center no-repeat;
}
ul.menu_small li a.estoque:hover{
	background: url(../image/layout/bg_estoque_small.jpg) bottom center no-repeat;
}
ul.menu_small li a.estoque_disable{
	background: url(../image/layout/bg_estoque_small_disable.jpg) bottom center no-repeat;
}


ul.menu_small li a.pedido{
	background: url(../image/layout/bg_pedido_small.jpg) top center no-repeat;
}
ul.menu_small li a.pedido:hover{
	background: url(../image/layout/bg_pedido_small.jpg) bottom center no-repeat;
}
ul.menu_small li a.pedido_disable{
	background: url(../image/layout/bg_pedido_small_disable.jpg) bottom center no-repeat;
}


ul.menu_small li a.nfe{
	background: url(../image/layout/bg_pedido_nfe_small.jpg) top center no-repeat;
}
ul.menu_small li a.nfe:hover{
	background: url(../image/layout/bg_pedido_nfe_small.jpg) bottom center no-repeat;
}
ul.menu_small li a.nfe_disable{
	background: url(../image/layout/bg_pedido_nfe_small_disable.jpg) bottom center no-repeat;
}


ul.menu_small li a.cliente{
	background: url(../image/layout/bg_cliente_small.jpg) top center no-repeat;
}
ul.menu_small li a.cliente:hover{
	background: url(../image/layout/bg_cliente_small.jpg) bottom center no-repeat;
}
ul.menu_small li a.cliente_disable{
	background: url(../image/layout/bg_cliente_small_disable.jpg) bottom center no-repeat;
}


ul.menu_small li a.funcionario{
	background: url(../image/layout/bg_funcionario_small.jpg) top center no-repeat;
}
ul.menu_small li a.funcionario:hover{
	background: url(../image/layout/bg_funcionario_small.jpg) bottom center no-repeat;
}
ul.menu_small li a.funcionario_disable{
	background: url(../image/layout/bg_funcionario_small_disable.jpg) bottom center no-repeat;
}


ul.menu_small li a.fornecedor{
	background: url(../image/layout/bg_fornecedor_small.jpg) top center no-repeat;
}
ul.menu_small li a.fornecedor:hover{
	background: url(../image/layout/bg_fornecedor_small.jpg) bottom center no-repeat;
}
ul.menu_small li a.fornecedor_disable{
	background: url(../image/layout/bg_fornecedor_small_disable.jpg) bottom center no-repeat;
}


ul.menu_small li a.compra{
	background: url(../image/layout/bg_compra_small.jpg) top center no-repeat;
}
ul.menu_small li a.compra:hover{
	background: url(../image/layout/bg_compra_small.jpg) bottom center no-repeat;
}
ul.menu_small li a.compra_disable{
	background: url(../image/layout/bg_compra_small_disable.jpg) bottom center no-repeat;
}


ul.menu_small li a.usuario{
	background: url(../image/layout/bg_usuario_small.jpg) top center no-repeat;
}
ul.menu_small li a.usuario:hover{
	background: url(../image/layout/bg_usuario_small.jpg) bottom center no-repeat;
}
ul.menu_small li a.usuario_disable{
	background: url(../image/layout/bg_usuario_small_disable.jpg) bottom center no-repeat;
}


ul.menu_small li a.configuracao{
	background: url(../image/layout/bg_configuracao_small.jpg) top center no-repeat;
}
ul.menu_small li a.configuracao:hover{
	background: url(../image/layout/bg_configuracao_small.jpg) bottom center no-repeat;
}
ul.menu_small li a.configuracao_disable{
	background: url(../image/layout/bg_configuracao_small_disable.jpg) bottom center no-repeat;
}


ul.menu_small li a.financeiro_caixa{
	background: url(../image/layout/bg_fluxo_caixa_small.jpg) top center no-repeat;
}
ul.menu_small li a.financeiro_caixa:hover{
	background: url(../image/layout/bg_fluxo_caixa_small.jpg) bottom center no-repeat;
}
ul.menu_small li a.financeiro_caixa_disable{
	background: url(../image/layout/bg_fluxo_caixa_small_disable.jpg) bottom center no-repeat;
}


ul.menu_small li a.contas_pagar{
	background: url(../image/layout/bg_contas_pagar_small.jpg) top center no-repeat;
}
ul.menu_small li a.contas_pagar:hover{
	background: url(../image/layout/bg_contas_pagar_small.jpg) bottom center no-repeat;
}
ul.menu_small li a.contas_pagar_disable{
	background: url(../image/layout/bg_contas_pagar_small_disable.jpg) bottom center no-repeat;
}


ul.menu_small li a.contas_receber{
	background: url(../image/layout/bg_contas_receber_small.jpg) top center no-repeat;
}
ul.menu_small li a.contas_receber:hover{
	background: url(../image/layout/bg_contas_receber_small.jpg) bottom center no-repeat;
}
ul.menu_small li a.contas_receber_disable{
	background: url(../image/layout/bg_contas_receber_small_disable.jpg) bottom center no-repeat;
}


ul.menu_small li a.transportador{
	background: url(../image/layout/bg_transportador_small.jpg) top center no-repeat;
}
ul.menu_small li a.transportador:hover{
	background: url(../image/layout/bg_transportador_small.jpg) bottom center no-repeat;
}
ul.menu_small li a.transportador_disable{
	background: url(../image/layout/bg_transportador_small_disable.jpg) bottom center no-repeat;
}


ul.menu_small li a.endereco{
	background: url(../image/layout/bg_endereco_small.jpg) top center no-repeat;
}
ul.menu_small li a.endereco:hover{
	background: url(../image/layout/bg_endereco_small.jpg) bottom center no-repeat;
}
ul.menu_small li a.endereco_disable{
	background: url(../image/layout/bg_endereco_small_disable.jpg) bottom center no-repeat;
}


ul.menu_small li a.servico_historico{
	background: url(../image/layout/bg_servico_historico_small.jpg) top center no-repeat;
}
ul.menu_small li a.servico_historico:hover{
	background: url(../image/layout/bg_servico_historico_small.jpg) bottom center no-repeat;
}
ul.menu_small li a.servico_historico_disable{
	background: url(../image/layout/bg_servico_historico_small_disable.jpg) bottom center no-repeat;
}

div.permissao_alert{
	position: absolute;
	top: 20%;
	left: 25%;
	width: 600px;
	height: 50px;
	background: #FFF;
	border:1px solid #06C;
	color: #666;
	font-size: 20px;
	padding-top: 100px;
	font-weight: bold;
	background:url(../image/layout/bg_div_permissao.gif) no-repeat center 20px #FFF;
}