*{
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	border-collapse: collapse;
	text-decoration: none;
}

div#no-print{
	width: 800px;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
}

a.print{
	width: 100px;
	height: 20px;
	padding-top: 5px;
	display: inline-block;
	color: #FFF;
	font: 12px Tahoma, Geneva, sans-serif;
	font-weight: bold;
	background: url(../image/layout/bg_btn_general.jpg) no-repeat;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
}

/**************************************************************/

table#tbl_etiqueta{
	width: 21.5cm;
	height: 27.7cm;
	margin: 0 auto;
	margin-top: 1.2cm;
	page-break-after: always;
	border: 1px solid #FFF;
}
	
	table#tbl_etiqueta tr{
		width: 20.6cm;
		margin: 0;
		float: left;
		margin-left: 0.72cm;
	}
	
		table#tbl_etiqueta tr td{
			width: 4.4cm;
			height: 1.34cm;
			margin: 0cm 0.33cm 0cm 0.33cm;
			display: block;
			float: left;
			text-align: center;
			}
			table#tbl_etiqueta tr td p{
				width: 4.4cm;
				font: 8px Arial, Helvetica, sans-serif;
				display: table;
				margin: 0 auto;
				margin-top: 3px;
				text-align:center;
			}
			
			table#tbl_etiqueta tr td p.codigo{
				width: auto;
				margin: 0 auto;
			}
				table#tbl_etiqueta tr td p.codigo img{
					float: left;
					margin: 0;
				}
				