.prioridade_baixa{
	background:url('../image/layout/prioridade_baixa.gif');
	background-repeat:no-repeat;
	width:20px;
	height:14px;
	display:block;
}

.prioridade_media{
	background:url('../image/layout/prioridade_media.gif');
	background-repeat:no-repeat;
	width:20px;
	height:14px;
	display:block;
}

.prioridade_alta{
	background:url('../image/layout/prioridade_alta.gif');
	background-repeat:no-repeat;
	width:20px;
	height:14px;
	display:block;
}