
#loader{
	width:100%; 
	height:100%; 
	background:  rgba(255, 255, 255, 0.7);
	position:absolute;
	z-index:10000;

}
#loader p{
margin-top: 0;
padding:3px;
background-color: #000;
font:11px verdana;
color:#fff;   
text-align:center;

}