

ul#image{
	width: 790px;
	margin: 0 auto;
}
	
	ul#image p{
		width: 155px;
		margin-top: 8px;
		margin-left: 5px;
		float: left;
		font: 10px Verdana, Geneva, sans-serif;
	}
	
	ul#image li{
		width: 250px;
		height: 215px;
		overflow: hidden;
		margin: 3px 5px 3px 5px;
		display: inline-block;
		float: left;
		border: 1px solid #CCC;
	}
		
		ul#image li div#image{
			width: 220px;
			height: 180px;
			display: block;
			overflow: hidden;
			margin: 0 auto;
			margin-top: 5px;
		}
		
		ul#image li ul{
			width: 90px;
			height: 20px;
			margin-top: 5px;
			float: right;
			display:inline-table;
		}
		
			ul#image li ul li{
				width: 20px;
				height: 20px;
				margin: 0;
				margin-left: 5px;
				float: left;
				display:inline-table;
				border: 0;
			}
			
				ul#image li ul li a.detalhe{
					width: 20px;
					height: 20px;
					display:block;
					background: url(../image/layout/bg_search_table.gif) 0 4px no-repeat; 
				}
				ul#image li ul li a.print{
					width: 20px;
					height: 20px;
					display:block;
					background: url(../image/layout/btn_print.gif) no-repeat;
				}
				ul#image li ul li a.excluir{
					width: 20px;
					height: 20px;
					display:block;
					background: url(../image/layout/bg_lixeira.gif) 2px 3px no-repeat;
				}

/*****************************************************/

div#img_print{
	width: 100%;
	text-align: center;
}
	
	div#img_print p{
		margin: 0 auto;
		font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	}
	
	div#img_print img{
		display: none;
	}