
div#hidden{
	display: none;
}


.status_historico{
	width:20px;
	height: 20px;
	display:block;
	border: none;
	margin: 3px 0 0 3px;
	background: url(../image/layout/img_clock.jpg) no-repeat;
}

div#pedido_lista, div#pedido_lista_componente, div#intervalos{
	width: 890px;
	min-height: 200px;
	max-height: 530px;
	background: #CCC;
	border:1px solid #666;
	overflow: auto;
}
	
	/* perfis de parcelamento */
	div#intervalos{
		background: #fff;
		clear: both;
		width: 480px;
		min-height: 70px;
		max-height: 120px;
		overflow-x: hidden;
		border: 1px solid #CCC;
		overflow-y: scroll;
	}

	ul#pedido_lista_cabecalho{
		/* width: 890px; */
		width: 	950px;
		height: 18px;
		margin: 0 auto;
		float: 	none;
		display: table;
		background: #666;
	}
	
	ul#pedido_lista_cabecalho li{
		height: 18px;
		font: bold 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
		text-align: center;
		color: #FFF;
		float: left;
		margin: 0; 
		padding:0 !important; 
		display: inline-table;
		border: 1px solid #FFF;
		border-top: none;
		border-left: none;
	}
		
	ul#pedido_lista_cabecalho li.entregue{
		background: url(../image/layout/img_check.png) 2px -1px no-repeat;
	}
	
div#pedido_lista ul#pedido_lista_item, div#pedido_lista_componente ul#pedido_lista_item_componente,
div#intervalos ul{
		width: 890px;
		height: 18px;
		margin: 0 auto;
		float: none;
		display: table;
}
	
	div#pedido_lista ul#pedido_lista_item li, div#pedido_lista_componente ul#pedido_lista_item_componente li,
	div#intervalos ul li{
		height: 18px;
		font: bold 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
		text-align: center;
		color: #FFF;
		float: left;
		display: inline-table;
		margin: 0 !important; 
		padding:0 !important; 
		border: none;
		border: 1px solid #666;
		border-top: none;
		border-left: none;
		display: table;
	}
	
div#pedido_lista ul#pedido_lista_item li input, div#pedido_lista_componente ul#pedido_lista_item_componente li input, div#pedido_lista ul#pedido_lista_item li select, div#pedido_lista_componente ul#pedido_lista_item_componente li select{
			height: 18px;
			font: bold 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
			text-align: center;
			float: left;
			margin: 0 !important; 
			padding:0 !important;
			border: 0;
		}

div#pedido_otica_opcoes{
	width: 955px;
	overflow: auto;
	margin-top: 4px;
}
	
	div#pedido_otica_opcoes div.pedido_otica_opcoes_detalhe{
		width: 303px;
		height: 162px;
		background-color: #CCCCCC;
		float: left;
		text-align: left;
		padding: 6px;
		margin-right: 3px;
	}
	
		div#pedido_otica_opcoes div.pedido_otica_opcoes_detalhe span{
			color: #003595;
			font-weight: bold;
			font-size: 16px;
		}
		
			div#pedido_otica_opcoes div.pedido_otica_opcoes_detalhe ul.pedido_otica_opcoes_cabecalho{
				margin: 0;
				padding: 0;
				margin-left: 10px;
				text-align: left;
			}
			
			div#pedido_otica_opcoes div.pedido_otica_opcoes_detalhe ul.pedido_otica_opcoes_dados{
				margin: 0;
				padding: 0;
				float: left;
			}
			
				div#pedido_otica_opcoes div.pedido_otica_opcoes_detalhe ul.pedido_otica_opcoes_dados li{
					margin: 0;
					padding: 0;
				}
	

/*---------------------------------------------------------*/

a.a_excluir, a.a_op_excluir, a.a_excluir_compra, a.excluir_intervalo_perfil{
	width: 20px;
	height: 18px;
	border: 0;
	background:url(../image/layout/bg_item_excluir.gif) no-repeat;
	display: block;
}

/*----------------------------------------------------------*/

div#pedido_pagamento{
	height: auto;
	float: left;
	display: table;
	margin-top: 3px;
	margin-bottom: 15px;
	border-top: 1px solid #5674C0;
	background: #6c85c6;
	padding: 0;
}
	 
	div#pedido_pagamento div.pagamento_bottom{
		width: 400px;
		display:inline-table;
		float: right;
		text-align: right;
	}
		div#pedido_pagamento div.pagamento_bottom ul{
			width: 380px;
			margin-top: 5px;
			margin-left: 10px;
			padding: 0;
		}
		
			div#pedido_pagamento div.pagamento_bottom ul li{
				width: 380px;
				margin: 0;
				margin-bottom: 5px;
			}
				
				div#pedido_pagamento div.pagamento_bottom ul li label{
					font: 15px Tahoma, Geneva, sans-serif;
					color: #FFF;
					font-weight: bold;
					float:left;
				}
				
				div#pedido_pagamento div.pagamento_bottom ul li input{
					width: 200px;
					float:right;
					margin: 0;
					text-align:right;
				}
				
				div#pedido_pagamento div.pagamento_bottom ul li label.total{
					font-size: 18px;
				}
				
				div#pedido_pagamento div.pagamento_bottom ul li input.total{
					height: 25px;
					background: #000;
					color: #0F0;
					font-weight: bold;
					font-size: 22px;
				}
	
	
/*---------------------------------------------------------------*/	
	div#pedido_pagamento div.pedido_parcela{
		width: 445px;
		display:table;
		padding: 0;
		margin: 0 auto;
		margin-bottom: 2px;
		background: #ccc;
	}
	
		div#pedido_pagamento div.pedido_parcela div.parcelamento{
			width: 425px;
			height: 30px;
			display: inline-table;
			float: left;
			padding: 10px;
			background: #efefef;
			text-align: left;
		}
		
			div#pedido_pagamento div.pedido_parcela div.parcelamento div{
				float: left; margin: 0 20px 0 0;
			}
			
			div#pedido_pagamento div.pedido_parcela div.parcelamento label{
				font: 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
				display: table;
				color: #36C;
				font-weight: bold;
			}
			
			div#pedido_pagamento div.pedido_parcela div.parcelamento input{
				width: 50px;
				height: 30px;
				padding: 0px;
				font: 12px;
				/*display: inline-table;*/
				float: left;
				font: 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
				color: #666;
				text-align: center;
			}
			
			div#pedido_pagamento div.pedido_parcela div.parcelamento input#txt_1_vencimento,
			div#pedido_pagamento div.pedido_parcela div.parcelamento input#txt_data_inicial,
			div#pedido_pagamento div.pedido_parcela div.parcelamento select#sel_perfil{ width: 125px; }
			
			div#pedido_pagamento div.pedido_parcela div.parcelamento select#sel_perfil{ padding: 9px; font-size: 12px; }
			
			div#pedido_pagamento div.pedido_parcela div.parcelamento input.btn_ok, ul li input.btn_ok{
				border: 0;
				margin-top: 27px;
				cursor: pointer;
				background:url(../image/layout/btn_pg_ok.jpg) top;
			}
			
			div#pedido_pagamento div.pedido_parcela div.parcelamento input.btn_ok:hover{
				background:url(../image/layout/btn_pg_ok.jpg) bottom;
			}
			
			div#pedido_pagamento div.pedido_parcela div.parcelamento span{
				font-size: 20px;
				color: #666;
				margin: 5px;
				display: inline-table;
				float:left;
			}
			
			div#pedido_pagamento div.pedido_parcela div.faturado{ width: 100%; background: #efefef; display: table; padding: 0 0 10px 0; }
			div#pedido_pagamento div.pedido_parcela div.faturado label{ padding: 0 0 0 7px; float: left; color: #333; font: bold 15px 'Trebuchet MS', Arial, sans-serif; }
			div#pedido_pagamento div.pedido_parcela div.faturado input{ width: 25px; }
/*---------------------------------------------------------------*/				
		div#pedido_pagamento div.pedido_parcela ul.parcelamento_cabecalho{
			height: 20px;
			padding: 0;
			float:left;
			margin: 0;
		}
			
			div#pedido_pagamento div.pedido_parcela ul.parcelamento_cabecalho li{
				width: 100px;
				text-align: center;
				font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
				font-weight: bold;
				color: #fff;
				border:1px solid #000;
				margin: 0;
				background: #999;
				padding-left: 3px;
			}
/*---------------------------------------------------------------*/			
		div#parcelas {
			width: 444px;
			height: 130px;
			background: #CCC;
			overflow-x: hidden;
			overflow-y: scroll;
			float: left;
		}
			
			div#parcelas ul.parcela_detalhe{
				width: auto;
				height: auto;
				margin: 0;
				display:table;
				/*margin-left: 200px;*/
			}
				
				div#parcelas ul.parcela_detalhe li{
					margin: 0;
					float:left;
				}
				
					div#parcelas ul.parcela_detalhe li input{
						width: 114px;
						height: 20px;
						background: #FFF;
						font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
						color: #666;
						text-align: right;
					}
						div#parcelas.editar_parcelas ul.parcela_detalhe li input{ width: 70px; }
						div#parcelas.editar_parcelas ul.parcela_detalhe li input.txt_parcela_valor_pago_desconto{ width: 55px; }
						
					div#parcelas ul.parcela_detalhe li select{
						width: 154px;
						background: #FFF;
					}
						div#parcelas.editar_parcelas ul.parcela_detalhe li select{ width: 107px; }
					
					div#parcelas ul.parcela_detalhe li input.txt_parcela_numero{ width: 30px; }
				
/*------------------------------------------------------------------------*/

form.frm_detalhe ul.pedido_estoque{
	width: 850px;
	border-bottom: 1px dashed #999;
	float: left;
	margin: 5px 0px 5px 0px;
}
	
	form.frm_detalhe ul.pedido_estoque li{
		/*display: inline-table;*/
		margin:6px;
		float: left;
		font: 12px Tahoma, Geneva, sans-serif;
		font-weight: bold;
		color: #039;
		text-align: left;
	}
		
		form.frm_detalhe ul.pedido_estoque li span{
			font: 12px Tahoma, Geneva, sans-serif;
			text-align: left;
			display: block;
			line-height: 22px;
		}
		
		form.frm_detalhe ul.pedido_estoque li label{
			display: block;
			font: 12px Tahoma, Geneva, sans-serif;
			color: #039;
			font-weight:bold;
			text-align: left;
		}
		
		form.frm_detalhe ul li.pedido_estoque input{
			width: 250px;
			height: 20px;
			padding-left: 3px;
			background: #DDD;
			border: 1px solid #CCC;
			color: #666;
			float: left;
		}
		
		form.frm_detalhe ul li.pedido_estoque input.alert{
			border: 2px solid #900;
		}

/*******************************************************************/

/*VENDA RAPIDA */
div.pedido_rapido{
	width: 730px;
	float: left;
}

table tr#pedido_lista_item, table tr#pedido_lista_item_componente{
	border-bottom: 1px solid #CCC;
}
	table tr#pedido_lista_item td, table tr#pedido_lista_item_componente td{
		border-right: 1px solid #CCC;
	}
		table tr#pedido_lista_item td input, table tr#pedido_lista_item_componente td input{
			height: 22px;
			font-size: 14px;
			background: none;
			border: none;
		}

	
table tr.hidden{
	display: none;
}

div.pedido_rapido_pagamento{
	width: 230px;
	height: 190px;
	float: left;
}
	
	div.pedido_rapido_pagamento ul{
		width: 220px;
		text-align: right;
		float: right;
	}
		
		div.pedido_rapido_pagamento ul li{
			margin-bottom: 0;
			margin-top: 2px;
			float:right;
		}
				
			div.pedido_rapido_pagamento ul li label{
				font-size: 13px;
				text-align: right;
			}
			
			div.pedido_rapido_pagamento ul li label.recebido{
				color: #900;
			}
			div.pedido_rapido_pagamento ul li label.total{
				font-size: 18px;
			}
			
			div.pedido_rapido_pagamento ul li input, div.pedido_rapido_pagamento ul li select{
				border: 2px solid #D7D7D7;
			}
			div.pedido_rapido_pagamento ul li input:focus, div.pedido_rapido_pagamento ul li select:focus{
				border: 2px solid #C00;
			}
			div.pedido_rapido_pagamento ul li input{
				height: 22px;
				font-size: 16px;
				text-align: right;
				font-weight: bold;
			}
			div.pedido_rapido_pagamento ul li input.valor{
				background: #FEFFDF;
			}
			
			div.pedido_rapido_pagamento ul li input.comissao{
				background: #CFC;
				height: 18px;
				font-size:16px;
			}
			div.pedido_rapido_pagamento ul li input.desconto{
				background: #FCDCDC;
				height: 18px;
				font-size:16px;
			}
			div.pedido_rapido_pagamento ul li input.total{
				background: #000;
				color: #0F0;
				height: 26px;
				font-size: 20px;
			}
			div.pedido_rapido_pagamento ul li input.recebido{
				background: #FFF;
			}
			div.pedido_rapido_pagamento ul li select.recebido{
				height: 25px;
				background: #FFF;
				font-size:18px;
			}
			div.pedido_rapido_pagamento ul li input.troco{
				background: #FCE3C2;
			}
			
			div.pedido_rapido_pagamento ul li input.btn_submit{
				width: 105px;
				height: 28px;
				line-height: 28px;
				background: url(../image/layout/bg_btn_submit.jpg) top;
				cursor: pointer;
				text-align: center;
				font-size: 11px;
				text-align:left;
				font-weight: bold;
				color: #333;
				display: block;
				float:left;
				margin-left: 2px;
			}
			div.pedido_rapido_pagamento ul li input.btn_submit:hover{
				border: 2px solid #C00;
				background: url(../image/layout/bg_btn_submit.jpg) bottom;
			}
			
			div.pedido_rapido_pagamento ul li a.btn_cancel{
				border: 2px solid #D7D7D7;
				width: 101px;
				height: 21px;
				line-height: 20px;
				background: url(../image/layout/bg_btn_submit.jpg) top;
				cursor: pointer;
				text-align: center;
				font-size: 11px;
				font-weight: bold;
				color: #333;
				display: block;
				float:left;
			}
			div.pedido_rapido_pagamento ul li a.btn_cancel:hover{
				border: 2px solid #C00;
				background: url(../image/layout/bg_btn_submit.jpg) bottom;
			}
			
			
			
/*******************************************************************/
			
			div.pedido_rapido_pagamento ul li.dados{
				float:left;
			}
			
				div.pedido_rapido_pagamento ul li.dados input{
					height: 18px;
					font-weight: normal;
					font-size:12px;
					float:left;
					text-align: right;
				}
/*******************************************************************/
			
			table#table_pagamento_tipo tr{
				width: 190px;
				height: 20px;
				font-size: 14px;
				font-weight: normal;
				display: table;
				background: #FFF;
				margin-bottom: 2px;
			}
			
/*******************************************************************/
.ordem_nao_selecionado {display:block; background:url(../image/layout/pedido_ordem.png); width:12px; height:12px; margin: 3px 4px}

.ordem_selecionado {display:block; background:url(../image/layout/pedido_ordem_selecionado.png); width:12px; height:12px; margin: 3px 4px}
/******************************************************************/



/*---------------------------------------------------*/
a.btn_nfe_cancel{
	width: 45px;
	height: 25px;
	background: url(../image/layout/btn_nfe_cancel.jpg) top no-repeat;
	display: block;
}
a.btn_nfe_cancel_disabled{
	width: 45px;
	height: 25px;
	background: url(../image/layout/btn_nfe_cancel.jpg) bottom no-repeat;
	display: block;
	pointer-events: none;
}

/*---------------------------------------------------*/
a.btn_nfe_carta_correcao{
	width: 45px;
	height: 25px;
	background: url(../image/layout/btn_nfe_carta_correcao.jpg) top no-repeat;
	display: block;
}
a.btn_nfe_carta_correcao_disabled{
	width: 45px;
	height: 25px;
	background: url(../image/layout/btn_nfe_carta_correcao.jpg) bottom no-repeat;
	display: block;
	pointer-events: none;
}


/*---------------------------------------------------*/
a.btn_print_cupom_fiscal{
	width: 45px;
	height: 25px;
	background: url(../image/layout/btn_print_cupom_fiscal.jpg) top no-repeat;
	display: block;
}
/*---------------------------------------------------*/
a.btn_import{
	width: 45px;
	height: 25px;
	background: url(../image/layout/btn_import.jpg) top no-repeat;
	display: block;
}
a.btn_import:hover{
	background: url(../image/layout/btn_import.jpg)bottom;
}

