#table_cliente_listar td.status_prospeccao{
	background:url(../image/layout/bg_status_cliente_prospeccao.gif) no-repeat;
	width: 20px;
}
#table_cliente_listar td.status_analise{
	background:url(../image/layout/bg_status_cliente_analise.gif) no-repeat;
	width: 20px;
}
#table_cliente_listar td.status_teste{
	background:url(../image/layout/bg_status_cliente_teste.gif) no-repeat;
	width: 20px;
}
#table_cliente_listar td.status_ativo{
	background:url(../image/layout/bg_status_cliente_ativo.gif) no-repeat;
	width: 20px;
}
#table_cliente_listar td.status_inativo{
	background:url(../image/layout/bg_status_cliente_inativo.gif) no-repeat;
	width: 20px;
}