
div.user{
	width: 760px;
	height: 20px;
	padding: 5px;
	padding-bottom: 0;
	margin-left: 90px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: table;
}

div.user p{
	padding-left: 20px;
	font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
	font-weight: bold;
	float: left;
	margin-right: 10px;
}

div.user p.versao{
	color: #FFF;
	padding-right: 5px;
	background: #000;
}

div.user p.user{
	background: url(../image/layout/user.jpg) no-repeat;
}

div.user p.clock{
	background: url(../image/layout/clock.jpg) no-repeat;
}

div.user span{
	font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

div.user span.user{
	font-weight:bold;
	text-decoration: underline;
	color: #36F;
	background: #FFF;
}

ul#home{
	width: 950px;
	text-align: center;
	height: auto;
	margin: 0 auto;
	display: table;
}

ul#home li{
	width: 90px;
	height: 120px;
	display: inline-table;
	float: left;
	margin: 14px;
	margin-bottom: 5px;
	text-align: center;
}

ul#home li a{
	width: 80px;
	height: 80px;
	display: block;
	margin: 0 auto;
}

ul#home li span{
	width: 80px;
	margin-top: 80px;
	font: 11px 'Trebuchet MS', Georgia, Times, serif;
	color: #666;
	font-weight: bold;
	line-height: 16px;
}
/*
ul#home li a.categoria{
	background: url(../image/layout/bg_categoria.jpg) top center no-repeat;
}
ul#home li a.categoria:hover{
	background: url(../image/layout/bg_categoria.jpg) bottom center no-repeat;
}
ul#home li a.categoria_disable{
	background: url(../image/layout/bg_categoria_disable.jpg) bottom center no-repeat;
}

ul#home li a.marca{
	background: url(../image/layout/bg_marca.jpg) top center no-repeat;
}
ul#home li a.marca:hover{
	background: url(../image/layout/bg_marca.jpg) bottom center no-repeat;
}
ul#home li a.marca_disable{
	background: url(../image/layout/bg_marca_disable.jpg) bottom center no-repeat;
}
*/
ul#home li a.produto{
	background: url(../image/layout/bg_produto.jpg) top center no-repeat;
}
ul#home li a.produto:hover{
	background: url(../image/layout/bg_produto.jpg) bottom center no-repeat;
}
ul#home li a.produto_disable{
	background: url(../image/layout/bg_produto_disable.jpg) no-repeat;
}


ul#home li a.estoque{
	background: url(../image/layout/bg_estoque.jpg) top center no-repeat;
}
ul#home li a.estoque:hover{
	background: url(../image/layout/bg_estoque.jpg) bottom center no-repeat;
}
ul#home li a.estoque_disable{
	background: url(../image/layout/bg_estoque_disable.jpg) bottom center no-repeat;
}


ul#home li a.pedido{
	background: url(../image/layout/bg_pedido.jpg) top center no-repeat;
}
ul#home li a.pedido:hover{
	background: url(../image/layout/bg_pedido.jpg) bottom center no-repeat;
}
ul#home li a.pedido_disable{
	background: url(../image/layout/bg_pedido_disable.jpg) bottom center no-repeat;
}


ul#home li a.nfe{
	background: url(../image/layout/bg_pedido_nfe.jpg) top center no-repeat;
}
ul#home li a.nfe:hover{
	background: url(../image/layout/bg_pedido_nfe.jpg) bottom center no-repeat;
}
ul#home li a.nfe_disable{
	background: url(../image/layout/bg_pedido_nfe_disable.jpg) bottom center no-repeat;
}


ul#home li a.cliente{
	background: url(../image/layout/bg_cliente.jpg) top center no-repeat;
}
ul#home li a.cliente:hover{
	background: url(../image/layout/bg_cliente.jpg) bottom center no-repeat;
}
ul#home li a.cliente_disable{
	background: url(../image/layout/bg_cliente_disable.jpg) bottom center no-repeat;
}


ul#home li a.funcionario{
	background: url(../image/layout/bg_funcionario.jpg) top center no-repeat;
}
ul#home li a.funcionario:hover{
	background: url(../image/layout/bg_funcionario.jpg) bottom center no-repeat;
}
ul#home li a.funcionario_disable{
	background: url(../image/layout/bg_funcionario_disable.jpg) bottom center no-repeat;
}


ul#home li a.fornecedor{
	background: url(../image/layout/bg_fornecedor.jpg) top center no-repeat;
}
ul#home li a.fornecedor:hover{
	background: url(../image/layout/bg_fornecedor.jpg) bottom center no-repeat;
}
ul#home li a.fornecedor_disable{
	background: url(../image/layout/bg_fornecedor_disable.jpg) bottom center no-repeat;
}


ul#home li a.compra{
	background: url(../image/layout/bg_compra.jpg) top center no-repeat;
}
ul#home li a.compra:hover{
	background: url(../image/layout/bg_compra.jpg) bottom center no-repeat;
}
ul#home li a.compra_disable{
	background: url(../image/layout/bg_compra_disable.jpg) bottom center no-repeat;
}


ul#home li a.usuario{
	background: url(../image/layout/bg_usuario.jpg) top center no-repeat;
}
ul#home li a.usuario:hover{
	background: url(../image/layout/bg_usuario.jpg) bottom center no-repeat;
}
ul#home li a.usuario_disable{
	background: url(../image/layout/bg_usuario_disable.jpg) bottom center no-repeat;
}


ul#home li a.configuracao{
	background: url(../image/layout/bg_configuracao.jpg) top center no-repeat;
}
ul#home li a.configuracao:hover{
	background: url(../image/layout/bg_configuracao.jpg) bottom center no-repeat;
}
ul#home li a.configuracao_disable{
	background: url(../image/layout/bg_configuracao_disable.jpg) bottom center no-repeat;
}


ul#home li a.financeiro_caixa{
	background: url(../image/layout/bg_fluxo_caixa.jpg) top center no-repeat;
}
ul#home li a.financeiro_caixa:hover{
	background: url(../image/layout/bg_fluxo_caixa.jpg) bottom center no-repeat;
}
ul#home li a.financeiro_caixa_disable{
	background: url(../image/layout/bg_fluxo_caixa_disable.jpg) bottom center no-repeat;
}


ul#home li a.contas_pagar{
	background: url(../image/layout/bg_contas_pagar.jpg) top center no-repeat;
}
ul#home li a.contas_pagar:hover{
	background: url(../image/layout/bg_contas_pagar.jpg) bottom center no-repeat;
}
ul#home li a.contas_pagar_disable{
	background: url(../image/layout/bg_contas_pagar_disable.jpg) bottom center no-repeat;
}


ul#home li a.contas_receber{
	background: url(../image/layout/bg_contas_receber.jpg) top center no-repeat;
}
ul#home li a.contas_receber:hover{
	background: url(../image/layout/bg_contas_receber.jpg) bottom center no-repeat;
}
ul#home li a.contas_receber_disable{
	background: url(../image/layout/bg_contas_receber_disable.jpg) bottom center no-repeat;
}


ul#home li a.transportador{
	background: url(../image/layout/bg_transportador.jpg) top center no-repeat;
}
ul#home li a.transportador:hover{
	background: url(../image/layout/bg_transportador.jpg) bottom center no-repeat;
}
ul#home li a.transportador_disable{
	background: url(../image/layout/bg_transportador_disable.jpg) bottom center no-repeat;
}


ul#home li a.endereco{
	background: url(../image/layout/bg_endereco.jpg) top center no-repeat;
}
ul#home li a.endereco:hover{
	background: url(../image/layout/bg_endereco.jpg) bottom center no-repeat;
}
ul#home li a.endereco_disable{
	background: url(../image/layout/bg_endereco_disable.jpg) bottom center no-repeat;
}


ul#home li a.servico_historico{
	background: url(../image/layout/bg_servico_historico.jpg) top center no-repeat;
}
ul#home li a.servico_historico:hover{
	background: url(../image/layout/bg_servico_historico.jpg) bottom center no-repeat;
}
ul#home li a.servico_historico_disable{
	background: url(../image/layout/bg_servico_historico_disable.jpg) bottom center no-repeat;
}

ul#home li a.crm_acompanhamento{
	background: url(../image/layout/bg_crm_acompanhamento.jpg) top center no-repeat;
}
ul#home li a.crm_acompanhamento:hover{
	background: url(../image/layout/bg_crm_acompanhamento.jpg) bottom center no-repeat;
}
ul#home li a.crm_acompanhamento_disable{
	background: url(../image/layout/bg_crm_acompanhamento_disable.jpg) bottom center no-repeat;
}


ul#home li a.funcionario_ponto{
	background: url(../image/layout/bg_funcionario_ponto.jpg) top center no-repeat;
}
ul#home li a.funcionario_ponto:hover{
	background: url(../image/layout/bg_funcionario_ponto.jpg) bottom center no-repeat;
}
ul#home li a.funcionario_ponto_disable{
	background: url(../image/layout/bg_funcionario_ponto_disable.jpg) bottom center no-repeat;
}
/** informações de contato **/
img.mw_contato{
	clear: both;
	position: relative;
	top: 80px;
	float: left;
}

/** botao de backup **/
p#bkp{
	position: relative;
	top: 80px;
	float: right;
	font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666;
	width: 160px;
	height: 50px;
	padding: 0 0 0 40px;
	border: 1px solid #aaa;
	border-radius: 5px;
	clear: right;
	background: url(../image/layout/icon_floppy.png) no-repeat 1px 3px;
}

	p#bkp a{
		display: block;
		width: 100px;
		height: 25px;
		background: url(../image/layout/bg_btn_backup.jpg) no-repeat 0 0;
		font: bold 12px/25px "Trebuchet MS", Arial, Helvetica, sans-serif;
		text-indent: 5px;
		margin: 3px auto 0 auto;
	}
	
		p#bkp a:hover{ background-position: 0 -25px; }
		
		
		
/*#################################################################*/	

div.alert_trava{
	width: 960px;
	height: 30px;
	margin: 20px auto 0 auto;
	margin-bottom: 6px;
	background: #000;
}

	div.alert_trava p{
		margin: 0 auto;
		font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
		color: #FFF;
		padding-top: 5px;
		text-align: center;
		font-weight: bold;
	}
	div.alert_trava a{
		margin: 0 auto;
		font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
		color: #CCC;
		text-decoration: underline;
		padding-top: 5px;
		text-align: right;
		font-weight: bold;
	}
	div.alert_trava a:hover{
		color: #FF9;
	}
	