div#login{
	width:240px;
	height: 240px;
	display: table;
	margin: 0 auto;
	margin-top: 100px;
	background: url(../image/layout/bg_login.jpg) no-repeat;
}

div#login form#frm_login{
	padding-top: 70px;
	text-align: center;
}

div#login form#frm_login label{
	width: 200px;
	display: table;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 6px;
}

div#login form#frm_login label span{
	font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFF;
	font-weight: bold;
	display: block;
}

div#login form#frm_login input{
	width: 150px;
	height: 20px;
	border: 1px solid #CCC;
}

div#login form#frm_login input#btn_login{
	width: 100px;
	height: 25px;
	border: 0;
	background: url(../image/layout/bg_btn_login.jpg) top no-repeat;
	margin-top:10px;
	margin-bottom:6px;
	font-weight:bold;
	cursor: pointer;
}

div#login form#frm_login input#btn_login:hover{
	background: url(../image/layout/bg_btn_login.jpg) bottom no-repeat;
}

span.alert{
	font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFF;
	font-weight: bold;
	display: block;
}