
#frm-financeiro_conta ul{
	display: table;
}

#frm-financeiro_conta ul li{
	display:inline-table;
	float: left;
	margin-left: 6px;
}

#frm-financeiro_conta ul li a.btn_gray, a.btn_gray{
	width: 180px;
	height: 24px;
	padding-top: 6px;
	display: block;
	background: url(../image/layout/btn_caixa.jpg) no-repeat bottom;
	border: 0;
	text-align: center;
	font: 13px Verdana, Geneva, sans-serif;
	cursor: pointer;
	float: left;
	color: #000;
}

#frm-financeiro_conta ul li a.btn_gray:hover, a.btn_gray:hover{
	background: url(../image/layout/btn_caixa.jpg) no-repeat top;
	color: #FFF;
}
#frm-financeiro_conta ul li span{
	width: 200px;
	font: 18px Arial, Helvetica, sans-serif;
	color: #06F;
	background: #FFF;
	padding: 2px;
	text-align: center;
	font-weight: bold;
	display: table;
}

#frm-financeiro_conta ul li span.alert{
	color: #F60;
}
/*-----------------------------------------------------------*/
form.frm_detalhe ul li.conta_nome, li.conta_banco, li.conta_bandeira, li.conta_fecha_fatura, li.conta_venc_fatura, li.conta_saldo{
	display: none;
}

form.frm_detalhe ul li.conta_btn{
	display: none;
	width:950px;
	margin-top:0;
}


div.data_conta{
	width: auto;
	height: 25px;
	display: inline-table;
	margin-bottom: 0;
}

div.data_conta span{
	height: 16px;
	display: inline-block;
	font: 11px Arial, Helvetica, sans-serif;
	color: #06C;
	float: left;
	background: #CCC;
	padding-left: 5px;
	padding-right: 5px;
}

div.data_conta a.anterior{
	width: 16px;
	height: 16px;
	float: left;
	display: inline-block;
	background: url(../image/layout/bg_data_conta_left.jpg) no-repeat;
}

div.data_conta a.proximo{
	width: 16px;
	height: 16px;
	float: left;
	display: inline-block;
	background: url(../image/layout/bg_data_conta_right.jpg) no-repeat right;
}
/*---------------------------------------*/
div.saldo{
	width: auto;
	padding-right: 10px;
	height: 25px;
	background: #6C85C6;
	display: inline-table;
}
	div.saldo p {
		font: bold 12px/25px Arial, Helvetica, sans-serif;
		color: #fff;
		padding: 5px;
	}

div.saldo span{
	width: 80px;
	margin-left: 10px;
	text-align: right;
	font: 12px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFF;
	display: inline-block;
	padding-right: 5px;
}

div.saldo span.credito{
	background: #FFF; 
	color: #06F;
}

div.saldo span.debito{
	background: #FFF;
	color: #C00;
}