
div.produto_estoque{
	width: 80px;
	height: 60px;
	overflow:auto;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	float: left;
	margin: 6px 6px 4px 8px;
}
	div.produto_estoque div.produto_estoque_detalhe{
		width: 200px;
		background: #FFF;
		height: auto;
		display:table;
		float:left;
	}
		div.produto_estoque div.produto_estoque_detalhe ul.ul_estoque{
			width: 80px;
			float:left;
			display: table;
		}
			
			div.produto_estoque div.produto_estoque_detalhe ul.ul_estoque li{
				width: 80px;
				height: 20px;
				border-bottom: 1px solid #999;
				border-right: 1px solid #999;
				font: 11px Verdana, Geneva, sans-serif;
				color: #666;
				line-height: 20px;
				float:left;
				display: inline-table;
			}

/*----------------------------------------------*/
			
#tela_ramificacao *, #componente_ramificacao * {float:none; font-size:12px; font-weight:normal; color:#666; width:100%;}

#tela_ramificacao li, #componente_ramificacao li {white-space:nowrap; text-align:left}

.submenu, .submenuOpen {margin-left:3px;}

.submenu li ul, .submenuOpen li ul{margin-left:24px;}

.submenu li, .submenuOpen li {float:right;}

.submenu li, .submenuOpen li {background:url("../image/layout/componente_dot.png"); background-repeat:no-repeat; display:block; width:16px; padding:7px 0 0 10px;}

.submenu li *, .submenuOpen li * {margin-left:20px;}

.submenu li span, .submenuOpen li span {display:block;}

.folder {background:url("../image/layout/componente_folder.png"); background-repeat:no-repeat; display:block; width:16px; padding:2px 0 0 20px; cursor:pointer}

.titulo_componente {cursor:pointer; margin-left:6px; cursor:pointer;}

.titulo_componente:hover {text-decoration:underline; cursor:pointer}

.openFolder {background:url("../image/layout/componente_folderOpen.png"); background-repeat:no-repeat; display:block; width:16px; padding:2px 0 0 20px; cursor:pointer}

.file {background:url("../image/layout/componente_file.gif"); background-repeat:no-repeat; display:block; width:16px; padding:1px 0 0 20px; cursor:pointer}

#mostrar_tudo, #esconder_tudo {float:right;color:#CCC; font-size:10px; cursor:pointer; margin-top:1px;}

.mostrar_tudo, #mostrar_tudo {background:url("../image/layout/componente_mostrar.png"); background-repeat:no-repeat; display:block; width:16px; height:16px;}

.esconder_tudo, #esconder_tudo {background:url("../image/layout/componente_esconder.png"); background-repeat:no-repeat; display:block; width:16px; height:16px;}