div#alvo{
	width: 655px;
	height: 270px;
	overflow: auto;
	background: #FFF;
}

div#alvo ul#busca{
	padding-left: 8px;
	margin: 0px;
}

div#alvo ul#busca li{
	width: 80px;
	height: 18px;
	text-align: left;
	font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	cursor: pointer;
	border-top: 1px solid #CCC;
	float: left;
	display: inline-block;
}

p.busca{
	font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #3741B9;
}

form#frm_busca{
	width: 660px;
	margin: 0 auto;
}

form#frm_busca fieldset{
	border: none;
}

form#frm_busca legend{
	/*font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-left: 50px;
	padding: 3px;
	color: #3741B9;*/
	display: none;
}

form#frm_busca input{
	width: 300px;
	height: 25px;
	margin: 0 auto;
	margin: 8px;
	border: 1px solid #CCC;
}

form#frm_busca ul#busca_cabecalho{
	width: 660px;
	display: table;
	background: #000;
}

form#frm_busca ul#busca_cabecalho li{
	border-top: 1px solid #CCC;
	width: 80px;
	display:inline-table;
	text-align: left;
	border: 0;
	font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFF;
	float: left;
}

div#loading{
	padding: 6px;
}