*{
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	border-collapse: collapse;
	text-decoration: none;
}

div#no-print{
	width: 800px;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
}

h1{
	width: 100%;
	height: 20px;
	font: 22px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0 auto;
	padding: 5px;
	padding-left: 30px;
}

p.pag{
	position: relative;
	margin: 0;
	margin-top: 15px;
	font: 12px Arial, Helvetica, sans-serif;
	float:right;
	margin-right: 10px;
	text-align: right;
	display:block;
}

a.print{
	width: 100px;
	height: 20px;
	padding-top: 5px;
	display: inline-block;
	color: #FFF;
	font: 12px Tahoma, Geneva, sans-serif;
	font-weight: bold;
	background: url(../image/layout/bg_btn_general.jpg) no-repeat;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
}


/**************************************************************/

table.relatorio_print{
	width: 800px;
	height: 1110px;
	margin: 0 auto;
	margin-top: 5px;
	border:1px solid #999;
	page-break-before: always;
}
	table.relatorio_print tr{
		margin: 0;
		margin-bottom: 6px;
		display: table;
		padding: 0;
		float: left;
	}
	
		table.relatorio_print tr td{
			font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
			display: inline-table;
			float: left;
		}

/*-------------------------------------------------------------*/
	
	table.table_relatorio_dados{
		width: 650px;
		float: left;
		margin-bottom: 10px;
		padding-left: 30px;
		display:table;
	}
		
		table.table_relatorio_dados tr td{
			width: 320px;
			font: 10px "Trebuchet MS", Arial, Helvetica, sans-serif;
			display: inline-table;
			margin-left: 10px;
			float: left;
		}

/*--------------------------------------------*/
	table.dados_impressao{
		width: 200px;
		margin-right: 10px;
		display: table;
		float: right;
	}
		
		table.dados_impressao tr td{
			width: 200px;
			font: 10px "Trebuchet MS", Arial, Helvetica, sans-serif;
			display: table;
			margin-left: 10px;
			float: left;
		}
			
			table.dados_impressao tr td span{
				border-collapse: collapse;
				float: right;
			}

/*--------------------------------------------*/
	
	table.table_relatorio{
		width: 800px;
		/*float: left;*/
		border-top: 1px solid;
	}
		
		table.table_relatorio tr{
			float: left;
			height: 15px;
			border-bottom: 1px solid;
		}
			
			table.table_relatorio tr td{
				height: 15px;
				width: 250px;
				font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
				display: inline-table;
				list-style: none;
				float: left;
				text-align:left;
				margin-right: 10px;
			}
			
			table.table_relatorio tr td.valor{
				width: 63px;
				text-align: right;
				margin-right: 10px;
			}
			
			table.table_relatorio tr td.qtd{
				width: 30px;
				text-align:right;
			}
			
	table.table_relatorio_rodape{
		width: 802px;
		height: 20px;
		margin: 0 auto;
		background: #EFEFEF;
		border: 1px solid #999;
		border-top: 0;
		display:table;
		bottom: 0;
	}
		table.table_relatorio_rodape tr td{
			width: auto;
			font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
			text-align: left;
			display: inline-table;
			margin: 2px;
			list-style: none;
			border: 0;
			/*float: left;*/
		}
			
/*-------------------------------------------------------------*/
/* PAISAGEM */

table.relatorio_print_paisagem{
	width: 1150px;
	height: 780px;
	margin: 0 auto;
	margin-top: 5px;
	border:1px solid #999;
	page-break-before: always;
}
	table.relatorio_print_paisagem tr{
		margin: 0;
		margin-bottom: 6px;
		display: table;
		padding: 0;
		float: left;
	}
	
	table.relatorio_print_paisagem tr td{
		font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
		display: inline-table;
		float: left;
	}
		
	table.relatorio_print_paisagem tr.total{
		width: 1150px;
		background:#E1E1E1;
		font-weight: bold;
	}
		table.relatorio_print_paisagem tr.total td{
			font-weight: bold;
		}

	table.relatorio_print tr.total{
		width:800px;
		background:#E1E1E1;
		font-weight: bold;
	}
		table.relatorio_print tr.total td{
			font-weight: bold;
		}
		
/*--------------------------------------------*/
	
	table.table_relatorio_paisagem{
		width: 1150px;
		float: left;
		border-top: 1px solid;
	}
		
		table.table_relatorio_paisagem tr{
			float: left;
			height: 15px;
			border-bottom: 1px solid;
		}

		table.table_relatorio_paisagem tr.h2, table.relatorio_print_paisagem tr.h2{
			width: 1150px;
		}
			table.table_relatorio_paisagem tr.h2 td, table.relatorio_print_paisagem tr.h2 td{
				font: 15px "Trebuchet MS", Arial, Helvetica, sans-serif;
				text-align: left;
				padding-left: 5px;
				font-weight: bold;
				margin-top: 11px;
				margin-bottom: 0;
				float: left;
			}
			
			table.table_relatorio_paisagem tr td{
				height: 15px;
				width: 350px;
				font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
				display: inline-table;
				list-style: none;
				float: left;
				margin-right: 5px;
			}
			
			table.table_relatorio_paisagem tr td.valor{
				width: 63px;
				text-align: right;
				margin-right: 10px;
			}
			
			table.table_relatorio_paisagem tr td.qtd{
				width: 30px;
				text-align:right;
			}
			
/*################# RELATORIO DE CLIENTE E VENDEDOR ###########################################################################################*/			

table.table_relatorio tr.relatorio_dados{
	width: 800px;
}

table.table_relatorio tr.relatorio_dados td{
	margin-left: 10px;
	width: 380px;
}


			