*{
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
color: #000;
border-collapse: collapse;
}

div#impressao_cabecalho{
	width: 760px;
	display: table;
	margin: 0 auto;
	margin-top: 20px;
}

ul#bts{
	width:300px;
	display: inline-table;
	text-align: center;
	float:right;
}

	ul#bts li{
		display: inline-table;
		margin-right: 15px;
	}
	
		ul#bts li a{
			width: 100px;
			height: 25px;
			display: inline-table;
			background: url(../../image/layout/bg_btn_general.jpg) top no-repeat;
		}
		
			ul#bts li a span{
				width: 100px;
				display: inline-table;
				padding-top: 3px;
				color: #FFF;
				font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
				text-align:center;
			}
		
		ul#bts li a:hover{
			background: url(../../image/layout/bg_btn_general.jpg) bottom no-repeat;
		}

/*----------------------------------------------------------------------------------------*/


table#pedido_imprimir{
	width:760px;
	margin: 0 auto;
	display: table;
	margin-top: 20px;
}
	table#pedido_imprimir table.cabecalho{
		width:760px;
		float:left;
		text-align:left;
		border: 1px solid #999;
	}
		
		table#pedido_imprimir table.cabecalho td.img{
			float:left;
			width:200px;
			height: 120px;
			margin-left:5px;
		}
		
		table#pedido_imprimir table.cabecalho tr{
			width: 550px;
			float:right;
			text-align: center;
			margin-top: 6px;
		}
			
			table#pedido_imprimir table.cabecalho tr td{
				width: 550px;
				display: inline-table;
				font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
			}

/*-----------------------------------------------*/
table#pedido_imprimir_dados{
	width:760px;
	margin: 0 auto;
}
		
	table#pedido_imprimir_dados tr{
		float: left;
		margin: 0;
	}
		table#pedido_imprimir_dados tr td{
			float: left;
			margin: 0;
		} 

/*---------------------------------------------------*/

table.pedido_dados{
	float: left;
}

	table.pedido_dados tr.dados td{
		width: 370px;
		height: 20px;
		margin-right: 5px;
		float: left;
		font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
		display: inline-table;
	}
	
		table.pedido_dados tr td h2{
			font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
			margin-top: 10px;
			margin-bottom: 10px;
			text-align: left;
			font-size:14px;
		}

/*---------------------------------------------------*/
table.pedido_descricao{
	width: 760px;
	display: table;
	float:left;
	margin-bottom:10px;
}
	
	table.pedido_descricao h2{
		width: 755px;
		margin: 10px 0px 5px 0px;
		background: #E1E1E1;
		padding: 2px;
		border-bottom: 1px solid #CCC;
		font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	}
	
	table.pedido_descricao tr.descricao{
		width: 760px;
		display: table;
	}
	
		table.pedido_descricao tr.descricao td{
			width:80px;
			margin-right: 5px;
			float: left;
			font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
			font-weight: bold;
			display: inline-table;
		}
		
/*------------- dados dos produtos ----------------------------------------------*/
	table.pedido_descricao tr.pedido_item{
		width: 760px;
		display:table;
	}
		
		table.pedido_descricao tr.pedido_item td{
			width:80px;
			margin-right: 5px;
			float: left;
			padding-left: 2px;
			font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
			display: inline-table;
		}
/*-----------------------------------------------------------*/

table#pedido_observacao{
	width: 760px;
	height: auto;
	display: inline-table;
	float: left;
	margin-bottom: 10px;
	border-bottom: 1px solid #CCC;
}

table#pedido_observacao p{
	font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top: 6px;
}
	
	table#pedido_pagamento tbody{
		display: table;
		float: left;
		margin-bottom:50px;
	}
		
		table#pedido_pagamento h2, #pedido_observacao h2{
			font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
			font-weight: bold;
		}

/*-----------------------------------------------------------*/

table#pedido_pagamento tr{
	float: left;
}

table#pedido_pagamento tr td table.parcelas{
	width: 525px;
	height: 4.5cm;
	display: block;
	float: left;
}
	
	table.parcelas tr td table.parcela_desc{
		width: 14cm;
		float: left;
	}
	
		table.parcelas tr td table.parcela_desc tr{
			width: 260px;
			float: left;
		}
			
			table.parcelas tr td table.parcela_desc tr td{
				width: 80px;
				float: left;
				font: 12px  "Trebuchet MS", Arial, Helvetica, sans-serif;
				text-align: center;
				border-bottom: 1px solid #CCC;
			}
				
				table.parcelas tr td table.parcela_desc tr td.parcela{
					width: 20px;
					background: #E1E1E1;
				}

/*-----------------------------------------------------------*/

	table#pedido_pagamento tr.pedido_total{
		width: 220px;
		float: right;
	}
	
		table#pedido_pagamento tr.pedido_total td{
			width:220px;
			font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
			display: inline-table;
			text-align: right;
		}
			
			table#pedido_pagamento tr.pedido_total td span{
				width: 100px;
				margin-left: 6px;
				display: inline-table;
			}

table.pedido_nota{
	width: 760px;
	position: static;
	display:block;
	bottom: 0;
	text-align: center;
}

table.pedido_nota p{
	font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: justify;
}

table.pedido_nota p{
	width: 250px;
	text-align:center;
	display: table;
	margin-top: 60px;
	font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding-top:5px;
}

table.pedido_nota p.ass_cliente{
	float: left;
	border-top: 1px solid;
}

table.pedido_nota p.ass_funcionario{
	float: right;
	border-top: 1px solid;
}