*{
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
color: #000;
border-collapse: collapse;
}

div#impressao_cabecalho{
	width: 760px;
	display: table;
	margin: 0 auto;
	margin-top: 20px;
}
	ul#bts{
		width:300px;
		display: inline-table;
		text-align: center;
		float:right;
	}
	
		ul#bts li{
			display: inline-table;
			margin-right: 15px;
		}
		
			ul#bts li a{
				width: 100px;
				height: 25px;
				display: inline-table;
				background: url(../../image/layout/bg_btn_general.jpg) top no-repeat;
			}
			
			ul#bts li a:hover{
				background: url(../../image/layout/bg_btn_general.jpg) bottom no-repeat;
			}
				ul#bts li a span{
					width: 100px;
					display: inline-table;
					padding-top: 3px;
					color: #FFF;
					font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
					text-align:center;
				}

/**********************************************************/				

table.table_imprimir{
	width:760px;
	margin: 0 auto;
	display: table;
	margin-top: 20px;
}
	table.table_imprimir tr td{
		font: 13px Verdana, Geneva, sans-serif;
	}
	
	table.table_imprimir tr td span.uppercase{
		text-transform: uppercase;
	}
	
	