
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

div.cliente_recibo_001{
	width: 14.5cm;
	height: 9cm;
	display: table;
}

div.cliente_recibo_001 ul li{
	font: 12px "Courier New", Courier, monospace;
	text-transform: uppercase;
	margin: 0 auto;
	margin-top: 0.4cm;	
}

/*----------------------------------------------*/
div.cliente_recibo_001 ul.dados_recibo_parcela{
	width: 14.5cm;
	height: 1.6cm;
}

div.cliente_recibo_001 ul.dados_recibo_parcela li{
	width: 3.5cm;
	padding-right: 0.2cm;
	margin-right: 0.2cm;
	text-align: right;
	display: inline-table;
	float: left;
}

/*----------------------------------------------*/
div.cliente_recibo_001 ul.dados_recibo_parcela_cliente{
	width: 14.5cm;
	height: 0.9cm;
	margin-bottom: 0.4cm;
}
div.cliente_recibo_001 ul.dados_recibo_parcela_cliente li{
	width:  14cm;
	height: 0.9cm;
	position: absolute;
	padding-left: 0.5cm;
}

/*----------------------------------------------*/
div.cliente_recibo_001 ul.dados_recibo_parcela_valor{
	width: 14cm;
	height: 1.6cm;
	padding-left: 0.5cm;
	padding-top: 0.4cm;
	margin-bottom: 0.5cm;
}

/*----------------------------------------------*/
div#dados_recibo_parcela_descricao{
	width:  14.5cm;
	height: 3.2cm;
	display: table;
	margin-bottom: 0.3cm;
}
div#dados_recibo_parcela_descricao ul.dados_descricao_parcela_cabecalho{
	width: 14cm;
	margin: 0 auto;
	margin-top: 0.3cm;
	margin-left: 0.3cm;
	float: left;
	display:table;
	padding: 0;
}

div#dados_recibo_parcela_descricao ul.dados_descricao_parcela_cabecalho li.dados_cabecalho{
	width: 60px;
	display: inline-table;
	margin: 0;
	margin-right:  0.5cm;
	font: 11px "Courier New", Courier, monospace;
	float: left;
	text-transform: lowercase;
}

/*----------------------------------------------*/
div.cliente_recibo_001 ul.dados_recibo_parcela_descricao{
	width: 14cm;
	display:table;
	padding: 0;
	padding-left: 0.3cm;
	float: left;
}


div.cliente_recibo_001 ul.dados_recibo_parcela_descricao li{
	width: 60px;
	margin: 0;
	margin-right:  0.5cm;
	font: 11px "Courier New", Courier, monospace;
	float: left;
}


